<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="doddleImport" type="Doddle.Import.Configuration.ImportSection, Doddle.Import"/>
  </configSections>

  <doddleImport>
    <validation>
      <messages>
        <!--<remove rule="RequiredFieldsRule" />
        <add rule="RequiredFieldsRule" message="Unable to locate field '{0}'"/>-->
      </messages>
    </validation>
  </doddleImport>
</configuration>